.main {
  background-color: rgb(229, 226, 226);
  height: 600px;
  width: 700px;
  margin-top: 10%;
  margin-left: 35%;
}

h2 {
  padding-top: 5%;
  margin-left: 27%;
  font-size: 20px;
}

.inOne {
  margin-left: 100px;
  width: 470px;
}

.inTwo {
  width: 20px;
  padding-left: 5px;
}

.menu {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.left {
  padding-left: 50px;
}

.right {
  padding-right: 50px;
}

.line {
  padding-top: 20px;
}

.newText {
  margin-left: 35%;
}

button {
  display: block;
  margin-top: 20px;
  margin-left: 270px;
  height: 40px;
  width: 100px;
}

.xxxx {
  margin-left: 450px;
}
